# Virtual environments
.venv/
env/

# Python build artifacts
__pycache__/
*.egg-info/
dist/
build/

# Jupyter checkpoints
.ipynb_checkpoints/

# Cached results
*.pkl
*.hdf5

# Docs build output
docs/_build/
docs/

# ReadTheDocs config (until docs are ready)
.readthedocs.yaml

# Other
notebook_plan.md
